**/.git
**/.gitignore
**/.github
**/.idea
**/.vscode
**/.cursor
**/node_modules
**/.next
**/.env.local
**/.env.*.local
**/npm-debug.log*
**/Thumbs.db
**/.DS_Store

apps/api/vendor
apps/api/var
apps/api/config/jwt
apps/api/.phpunit.cache

docker/mysql/data
*.md
!apps/api/README.md
